<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>This is Ornetas's Query</h1>

<p> <a href="http://localhost:8080/customermapping/test">This is test page</a> </p>
<p> <a href="http://localhost:8080/customermapping/customer/all">All customers</a> </p>
<p> <a href="http://localhost:8080/customermapping/customer/112">Customer by id</a> </p>
<p> <a href="http://localhost:8080/customermapping/mycustomer/112">Open customer by ID with customised method</a> </p>
<p> <a href="http://localhost:8080/customermapping/mycustomer/name/Diecast%20Collectables">Open customer by NAME with customised method</a> </p>
<p> <a href="http://localhost:8080/customermapping/mycustomer/like/au">Open all customers having just part of the name with customized method</a> </p>
<p> <a href="http://localhost:8080/customermapping/mycustomer/querylike/auto">Open all customers having just part of the name with customised Query method</a> </p>
<h1>Open pages with templates</h1>
<p> <a href="http://localhost:8080/customertemplate/firstpage/customer/112">Open particular customer</a> </p>
<p> <a href="http://localhost:8080/productlinetemplate/firstpage/productline/ships">Open particular productline</a> </p>
<p> <a href="http://localhost:8080/customertemplate/firstpage/customer/all">Open all customers</a> </p>
<p> <a href="http://localhost:8080/productlinetemplate/firstpage/productline/all">Open all productlines</a> </p>
<h1>This is bottom of Ornetas's Query</h1>

<p> <a href="http://localhost:8080/customertemplate/test" target="_blank">Open page from templates/test directory</a> </p>
<h1>Styles</h1>
<p> <a href="http://localhost:8080/customertemplate/customer/112" target="_blank">Open customer with query style</a> </p>

<div>
</div>

</body>
</html>